<div class="view-about">
  <div class="image">
    <div class="row text-center">
      <img src="images/about.jpg">
    </div>
  </div>
  <div class="text">
    <p>
      {{"views.about.My name is..." | translate}}
    </p>

    <p>
      {{"views.about.I'm Web Developer and..." | translate}}
    </p>

    <p>
      {{"views.about.Author of" | translate}}
      <a href="http://itsall4games.blogspot.com/">http://itsall4games.blogspot.com/</a>.
    </p>

    <p>
      {{"views.about.Have successful experience..." | translate}}
    </p>

    <p>
      {{"views.about.JS, HTML and CSS enthusiast..." | translate}}
    </p>
  </div>
</div>

